body {
  text-align: center;
  font-family: sans-serif;
}

header {
  background-color: #243642;
  padding-top: 5%;
  padding-bottom: 5%;
}

h1 {
  color: #e2f1e7;
}

.color1 {
  background-color: #629584;
  color: white;
}

.container {
  padding: 0;
}
